services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=spbt_htsoftdb'
      - 'POSTGRES_PASSWORD=secret-admin'
      - 'POSTGRES_USER=admin'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres
  volumes:
    pgdata: