version: '3.9'

services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_DB: spbt_htsoftdb
      POSTGRES_PASSWORD: secret-admin
      POSTGRES_USER: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:

